<section>
  <!-- Verborgen koptekst voor toegankelijkheid -->
  <h2 class="visually-hidden">Galerij van Qatar Museums</h2>

  <!-- Lijst van galerijafbeeldingen -->
  <ul class="gallery">
    {% for artwork in artworks %}
      <!-- Elke afbeelding in een lijstitem -->
      <li class="image-card">
        <!-- Link naar de detailpagina van het kunstwerk -->
        <a href="/detail/{{ artwork.id }}">
          <img src="https://fdnd-agency.directus.app/assets/{{ artwork.image }}">
        </a>
      </li>
    {% endfor %}
  </ul>
</section>