<section>
  <!-- Hoofdtitel voor toegankelijkheid -->
  <h1 class="visually-hidden">Galerij van Qatar Museums</h1>

  <!-- Lijst van galerijafbeeldingen -->
  <ul class="gallery">
    {% for artwork in artworks %}
      <!-- Elke afbeelding in een lijstitem -->
      <li class="image-card">
        <!-- Link naar de detailpagina van het kunstwerk -->
        <a href="/detail/{{ artwork.id }}">
          <img src="https://fdnd-agency.directus.app/assets/{{ artwork.image }}" alt="{{ artwork.title if artwork.title else 'Afbeelding van gallery' }}">
        </a>
      </li>
    {% endfor %}
  </ul>
</section>